################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/First Windows Forms Application/.vs/First Windows Forms Application
